<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>Index</title>
</head>
<body>
    <h1>歡迎光臨，請註冊登入系統</h1>
    <div class="signup">
        <h2>註冊帳號</h2>
            <form action={{ url_for('signup') }} method="post">
                <label for="name">姓名</label>
                <input type="text" id="name" name="name"><br>
                <label for="username">帳號</label>
                <input type="text" id="username" name="username"><br>
                <label for="password">密碼</label>
                <input type="password" id="password" name="password"><br>
                <button>註冊</button>
            </form>
    </div>
    <div class="signin">
        <h2>登入系統</h2>
            <form action={{ url_for('signin') }} method="post">
                <label for="username">帳號</label>
                <input type="text" id="account" name="username"><br>
                <label for="password">密碼</label>
                <input type="password" id="password" name="password"><br>
                <button>登入</button>
            </form>
    </div>
</body>
</html>